.brand-container {
  cursor: pointer;
  width: 200px;
  height: 200px;
  box-shadow: 1px 1px 8px -3px #333;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s;
}

.brand-container:hover {
  transform: scale(104%);
}

.brand-img {
  max-width: 80%;
  max-height: 80%;
}

@media (max-width: 600px) {
  .brand-container {
    width: 150px;
    height: 150px;
  }
}
